* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0 8px;
}
